In [25]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'tentatives': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualifier': ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']
}

etiquettes = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=etiquettes)
print(df)

# Supprimer la colonne 'tentatives' du DataFrame
df = df.drop(columns=['tentatives'])

# Ajouter une nouvelle colonne 'Succès' en fonction du score
df['Succès'] = df['score'].apply(lambda x: 1 if x > 10 else 0)

# Afficher le DataFrame final
print("\nDataFrame final :")
print(df)

# Exporter le DataFrame dans un fichier CSV
df.to_csv('my_data.csv', index_label='Index')
print("\nDataFrame exporté dans 'my_data.csv'")
Assurez-vous d'exécuter ce code dans un environnement où vous avez Pandas installé (pip install pandas). Cela effectuera les différentes étapes demandées et exportera le DataFrame final dans un fichier CSV nommé "my_data.csv".

        name  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui
d      James    NaN           3       non
e      Emily    9.0           2       non
f    Michael   20.0           3       oui
g    Matthew   14.5           1       oui
h      Laura    NaN           1       non
i      Kevin    8.0           2       non
j      Jonas   19.0           1       oui

In [29]:
print("Trois premières lignes :")
print(df.head(3))

Trois premières lignes :
        name  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui

In [30]:
df = df.dropna()
df

        name  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui
e      Emily    9.0           2       non
f    Michael   20.0           3       oui
g    Matthew   14.5           1       oui
i      Kevin    8.0           2       non
j      Jonas   19.0           1       oui

In [31]:
name_score_df = df[['name', 'score']]
print("\nColonnes 'name' et 'score' :")
print(name_score_df)

Colonnes 'name' et 'score' :
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [42]:
new_row = {
    'name': ['Suresh'], 
    'score': [15.5], 
    'tentatives': [1], 
    'qualifier': ['yes']
}
new_data = df.concat(new_data, new_row)
new_data

AttributeError: 'DataFrame' object has no attribute 'concat'